---
import { ViewFieldType } from '../../config/static';

interface Props {
	type: ViewFieldType;
}

const { type } = Astro.props;
---

<a href={`/obsidian-meta-bind-plugin-docs/reference/viewfields/${type.toLowerCase()}/`}><code>{type}</code></a>
