---
import {ViewFieldArgumentConfigs, ViewFieldArgumentType} from '../../config/static';
import ViewFieldLink from './ViewFieldLink.astro';
interface Props {
	type: ViewFieldArgumentType;
}

const {type} = Astro.props;
const config = ViewFieldArgumentConfigs[type];
---

{config.allowedFieldTypes.length === 0 ?

<p>The view field argument <code>{type}</code> is allowed in all view fields.</p>

	:

<p>The view field argument <code>{type}</code> is allowed in the following view fields.</p>

<ul>
	{config.allowedFieldTypes.map(x =>
            <li>
                <ViewFieldLink type={x}></ViewFieldLink>
            </li>,
	)}
</ul>

	}

