---
import ViewFieldArgumentLink from './ViewFieldArgumentLink.astro';
import { ViewFieldArgumentConfigs, ViewFieldArgumentType, ViewFieldType } from '../../config/static';
import { ConfigHelper } from '../../config/configHelper';

interface Props {
	type: ViewFieldType;
}

const { type } = Astro.props;
---

<p>The following view field arguments can be used on the <code>{type}</code> view field.</p>

<ul>
	{
		ConfigHelper.viewField.getAllowedArguments(type).map(x => (
			<li>
				<ViewFieldArgumentLink type={x.type} />
			</li>
		))
	}
</ul>
