---
import { ViewFieldType } from '../../config/static';
interface Props {
	type: ViewFieldType;
}

const { type } = Astro.props;
---

<table class="full-width">
	<tbody>
		<tr>
			<td>Identifier</td>
			<td><code>{type}</code></td>
		</tr>
	</tbody>
</table>
