---
import { ViewFieldArgumentConfigs, ViewFieldArgumentType } from '../../config/static';
interface Props {
	type: ViewFieldArgumentType;
}

const { type } = Astro.props;
const config = ViewFieldArgumentConfigs[type];
---

<table class="full-width">
	<tbody>
		<tr>
			<td>Identifier</td>
			<td><code>{config.type}</code></td>
		</tr>
		<tr>
			<td>Allows Multiple</td>
			<td><code>{config.allowMultiple ? 'true' : 'false'}</code></td>
		</tr>
	</tbody>
</table>
