---
import { InputFieldArgumentConfigs, InputFieldArgumentType } from '../../config/static';
import { ConfigHelper } from '../../config/configHelper';
interface Props {
	type: InputFieldArgumentType;
}

const { type } = Astro.props;
const config = InputFieldArgumentConfigs[type];
---

<p>The input field argument <code>{config.type}</code> accepts the following value configurations.</p>

<ul>
	{
		config.values.map(valueConfig => (
			<li>
				<code>{ConfigHelper.inputFieldArgument.generateTypeSignature(type, valueConfig)}</code>
				<ul>
					{valueConfig.map(x =>
						x.description ? (
							<li>
								<code>{x.name}</code> is {x.description}
							</li>
						) : (
							<div />
						),
					)}
				</ul>
			</li>
		))
	}
</ul>
