---
import InputFieldArgumentLink from './InputFieldArgumentLink.astro';
import { InputFieldType } from '../../config/static';
import { ConfigHelper } from '../../config/configHelper';

interface Props {
	type: InputFieldType;
}

const { type } = Astro.props;
---

<p>The following input field arguments can be used on the <code>{type}</code> input field.</p>

<ul>
	{
		ConfigHelper.inputField.getAllowedArguments(type).map(x => (
			<li>
				<InputFieldArgumentLink type={x.type} />
			</li>
		))
	}
</ul>
