:root {
    --background:            #000000;
    --background-secondary:  #161616;
    --background-tertiary:   #323232;
    --text:                  #cccccc;
    --text-important:        #ffffff;
    --text-muted:            #888888;

    --default-spacing:       10px;
    --default-border-radius: 5px;

    --sidebar-width:         340px;


    --success:               #2ed57320;
    --success-light:         #7bed9f;
    --warning:               #ffa50220;
    --warning-light:         #eccc68;
    --danger:                #ff634820;
    --danger-light:          #ff7f50;
    --error:                 #ff475720;
    --error-light:           #ff6b81;
    --info:                  #1e90ff20;
    --info-light:            #70a1ff;
    --quote:                 #747d8c20;
    --quote-light:           #a4b0be;
}

* {
    box-sizing: border-box;
}

* {
    /*outline: 1px solid limegreen !important;*/
}

@media only screen and (min-width: 1000px) {
    .app {
        margin: 0 10%;
    }

    .main {
        display: flex;
        gap:     calc(var(--default-spacing) * 3);
    }

    .sidebar {
        width:      var(--sidebar-width);
        min-width:  var(--sidebar-width);
        align-self: flex-start;
        position:   sticky;
        top:        10px;
    }

    .content-wrapper {
        flex:      1;
        min-width: 0;
    }
}

@media only screen and (min-width: 1400px) {
    .app {
        margin: 0 20%;
    }
}


@media only screen and (max-width: 1000px) {
    .content-wrapper {
        margin-top: calc(var(--default-spacing) * 3);
    }

    .sidebar {
        width: auto;
    }
}

body {
    background:      var(--background);
    color:           var(--text);
    margin:          0;
    font-weight:     normal;
    font-family:     "Inter", sans-serif;
    line-height:     1.6;
    scroll-behavior: smooth;
}

.app {

}

.header {
    margin:      25px var(--default-spacing) 25px var(--default-spacing);
    min-height:  50px;
    display:     flex;
    align-items: center;
}

.header-text {
    font-weight:             900;
    font-size:               3.5em;
    color:                   #ffffff;
    background:              #775cff;
    background:              linear-gradient(150deg, rgba(255,79,245,1) 0%, rgba(179,103,230,1) 25%, rgba(119,92,255,1) 50%, rgba(72,113,232,1) 75%, rgba(79,197,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    padding-inline: var(--default-spacing);
    margin-bottom:  25px;
}

.sidebar {
    z-index:       1;
    overflow-x:    hidden;
    background:    var(--background-secondary);
    border-radius: var(--default-border-radius);
}

.sidebar-item-container {

}

.sidebar-item {
    display:         block;
    padding:         var(--default-spacing);
    color:           var(--text-muted);
    cursor:          pointer;
    text-decoration: none;

}

.sidebar-item:hover {
    color:      var(--text-important);
    background: var(--background-tertiary);
}

.sidebar-sub-item {
    padding-left: 30px;
    color:        var(--text);
}

.sidebar-item-active {
    color: var(--text-important);
}

.content-wrapper {

}

.content > *:first-child {
    margin-top: 0;
}

.content > *:last-child {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color:        var(--text-important);
    margin-block: 2em 0.5em;
}

p {
    margin-top:    0;
    margin-bottom: 1em;
}

strong, b {
    color: var(--text-important);
}

a {
    color: var(--text);
}



/*
a:not(a.no-icon)::after {
    content: " "  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAABg2lDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TNSIVBzuIOGSoThZERRylikWwUNoKrTqYXPoFTRqSFBdHwbXg4Mdi1cHFWVcHV0EQ/ABxdHJSdJES/5cUWsR4cNyPd/ced+8AoVFhmtU1AWi6babiMSmbW5XEV4joQRgRiDKzjER6MQPf8XWPAF/vojzL/9yfo1/NWwwISMRzzDBt4g3imU3b4LxPHGYlWSU+Jx436YLEj1xXPH7jXHRZ4JlhM5OaJw4TS8UOVjqYlUyNeJo4omo65QtZj1XOW5y1So217slfGMrrK2mu0xxBHEtIIAkJCmooowIbUVp1UiykaD/m4x92/UlyKeQqg5FjAVVokF0/+B/87tYqTE16SaEY0P3iOB+jgLgLNOuO833sOM0TIPgMXOltf7UBzH6SXm9rkSNgYBu4uG5ryh5wuQMMPRmyKbtSkKZQKADvZ/RNOWDwFuhb83pr7eP0AchQV8s3wMEhMFak7HWfd/d29vbvmVZ/P01OcpgkP9X9AAAABmJLR0QAowDZALCH/eMKAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5gcGFCcCtGYJFgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABDSURBVBjTjZBJCgAwCAOT4v+/PL0VW7SYi4hZVCsBQFNU5NbgHQBExbbtr7pyOvVqGhLAynGV6KzxjUtYo0MkxfTRG8jSU8qsbiQEAAAAAElFTkSuQmCC');
    filter: brightness(0.7);
    display: inline-block;
    padding-left: 4px;
}

a:not(a.no-icon):hover::after {
    filter: brightness(1);
}

 */

a.external {
    position: relative;
    padding-right: 16px;
    display: inline-block;
}

a.external::after {
    content: "open_in_new";
    font-family: "Material Symbols Outlined";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 4px;
    right: -5px;
}

a:hover {
    color: var(--text-important);
}

hr {
    margin: 2em 0.5em;
}

code.inline {
    background-color: var(--background-secondary);
    border-radius:    2px;
    font-size:        large;
    display:          inline-block;
    padding:          0 0.4em;
}

code.block {
    font-size: large;
}

.code-block-block {
    background-color: var(--background-secondary);
    border-radius:    var(--default-border-radius);
    padding:          var(--default-spacing);
    margin-block:     1em;
}

pre {
    margin:     0;
    overflow-x: auto;
}

.callout {
    background:    var(--background-secondary);
    border-radius: var(--default-border-radius);
    margin-block:  1em;
}

.callout-bg {
    border-radius: var(--default-border-radius);
}

.callout-header {
    padding:       var(--default-spacing);
    display:       flex;
    gap:           var(--default-spacing);
    border-radius: var(--default-border-radius);
}

.callout-icon {
    color: #000000;
}

.callout-title {
    flex:        1;
    color:       #000000;
    font-weight: bold;
}

.callout-content {
    padding: var(--default-spacing);
    color:   var(--text-important);
}

.callout-content > *:first-child {
    margin-top: 0;
}

.callout-content > *:last-child {
    margin-bottom: 0;
}

.code-block {
    position: relative;
}

.code-block-copy {
    position:        absolute;
    top:             var(--default-spacing);
    right:           var(--default-spacing);
    border-radius:   var(--default-border-radius);
    background:      var(--background-secondary);
    height:          30px;
    width:           30px;
    display:         flex;
    align-items:     center;
    justify-content: center;
    cursor:          pointer;
}

.code-block-copy:hover {
    background: var(--background-tertiary);
}

.tooltip {
}

.tooltip .bottom {
    min-width:        50px;
    top:              40px;
    left:             50%;
    transform:        translate(-50%, 0);
    padding:          var(--default-spacing);
    color:            var(--text);
    background-color: var(--background-tertiary);
    font-weight:      normal;
    font-size:        13px;
    border-radius:    var(--default-border-radius);
    position:         absolute;
    z-index:          99999999;
    display:          block;
}

.tooltip .bottom i {
    position:    absolute;
    bottom:      100%;
    left:        50%;
    margin-left: -12px;
    width:       24px;
    height:      12px;
    overflow:    hidden;
}

.tooltip .bottom i::after {
    content:          "";
    position:         absolute;
    width:            12px;
    height:           12px;
    left:             50%;
    transform:        translate(-50%, 50%) rotate(45deg);
    background-color: var(--background-tertiary);
}

.footer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: var(--default-spacing);
    margin: var(--default-spacing);
    background: var(--background-secondary);
    border-radius: var(--default-border-radius);
}

